/* Coommon styles
   Общие стили для страниц ошибок */

 /* Styles/Стили */
html, body{
    margin: 0;
    padding: 0;
}

.main-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.language-btn-block {
    margin-top: 1rem;
}
.language-btn {
    margin-left: auto;
    color: #7e57c2 !important;
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #b39ddb;
    border-radius: 5px;
}
.language-btn:hover {
    background-color: #7e57c2;
    cursor: pointer;
    color: #f5f5f5 !important;

}

.main__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__content h1 {
    font-size: 5rem;
    color: #7e57c2;
}
.main__content h2 {
    color: #7e57c2;
}
.error { 
    align-items: center;
    justify-content: center;
}
.error-wrapper {
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-name {
    font-size: 20rem;
    margin-bottom: 0;
    color: #7e57c2;
    padding-bottom: 2.5rem;
}
.error-description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-description h1 {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0 !important;
    color: #7e57c2;
}

.back-btn-block, .forward-btn-block {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-btn, .forward-btn {
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #b39ddb;
    transition: .2s;
}
.back-btn:first-child, .forward-btn > i {
    color: #7e57c2;
}

.back-btn-block:hover .back-btn, .forward-btn-block:hover .forward-btn {
    text-decoration: none;
    background-color: #7e57c2;
}
.back-btn-block:hover .back-btn:first-child, .forward-btn-block:hover .forward-btn > i{
    color: #f5f5f5;
}

.back-btn-text, .forward-btn-text {
    color: #7e57c2 !important;
    margin-left: 1rem;
    font-size: 2rem;
}
.forward-btn-text {
    margin-right: 1rem;
}
.back-btn-text:hover{
    color: #7e57c2;
    text-decoration: none;
}
.service-btn-block {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-link {
    text-decoration: none;
    color: #7e57c2;
    padding: 10px;
    border-radius: 5px;

}
.service-link:hover {
    text-decoration: none;
    color: #f5f5f5;
    background-color: #b39ddb;
}

/* Media queries/ Медиа запросы  */
@media screen and (max-width: 1024px) {
    .error-wrapper {
        height: 45vh;
    }
    .error-name {
        font-size: 18rem;
    }
}
@media screen and (max-width : 768px) {
    .error-wrapper {
        height: 35vh;
    }
    .error-name {
        font-size: 14rem;
        padding-bottom: 2rem;
    }
}
@media screen and (max-width : 425px) {
    .language-btn {
        margin-right: 10px;
    }
    .error-name {
        font-size: 12rem;
    }  
    .back-btn, .forward-btn {
        height: 55px;
        width: 55px;
    }
}


/* Animation keyframes / Ключевые кадры анимаций */
@keyframes scale {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }


