.navigation-block {
    width: 80%;
}

@media screen and (max-width: 768px){
    .main__content:first-child h1 {
        font-size: 4rem;
        margin-left: 1%;
        margin-right: 1%;
    }

    h2 {
        margin-left: 1%;
        margin-right: 1%;
    }
}
@media screen and (max-width: 425px){
    .main__content:first-child h1 {
        font-size: 2rem;
    }
}